.idea/
.venv/
.vscode/
*.egg-info/
build/
env/

# used for deploying on non-Solus systems
eopkg_venv/
# build_chroot.sh related
run/
solus_minimal_chroot/
start_chroot.sh

# Cython
*.c
# nuitka'd builds
eopkg-cli.*

# misc
*.bak
*.pyc
*.whl
